#content {
    margin: 0 auto;max-width: 1600px
   
}
nav a{
    text-align: center;
    text-decoration: none
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    color: black;
}
header {
    background-color: #A39171;
    color:black
}
nav a:hover {
    background-color: #A39171;
    color:black
}
.book, .join {
    background-color: #DCC9B6;
    color:black;
    text-decoration: none

}
.msg {
    background-color: #727D71;
    color: black
    }
footer {
    background-color: #6D4C3D;
    color: black;
    font-size: 1.2em;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer a {
    text-decoration: none;
}
footer p {
    text-decoration: underline;
}
.home-title{
    font-family: "Arial Black", "Arial Bold", sans-serif;
}