#content {
    margin: 0 auto;max-width: 1600px
   
}
nav a{
    text-align: center;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color:white;
}
header {
    background-color: #A39171;
}
nav a:hover {
    background-color: white;
}
.book, .join {
    background-color: #DCC9B6;
}
.msg {
    background-color: black;
}
footer {
    background-color: #6D4C3D;
}
