#content {
    margin: 0 auto;max-width: auto;
}
nav a {
    background-color: black;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}

#hero {
    display: grid;
    grid-template-columns: 50% 25% 25% 25%;
}
body {
    font-family: arial, Georgia , Verdana;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color:white;
    color: #1a2633;
}
main section{
    text-align: center;
}
header {
    background-color: #000000;
    color:rgb(255, 254, 254);
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}
nav {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #030200;
    color:#ffffff;
}
footer {
    background-color: #1a2633;
    color: black;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.EZ-img{
    width: 100px;

}